# Environment variables for PULSE

# change the name of this file to .env and fill in the values before running the app

# Database (Qdrant Cloud)
QDRANT_URL=your-qdrant-cloud-url-here
QDRANT_API_KEY=your-qdrant-api-key-here

# LLM (PULSE uses Groq API)
LLM_BASE_URL=https://api.groq.com/openai/v1/chat/completions
LLM_MODEL=llama-3.1-8b-instant

# Hugging Face Authentication (For FastEmbed downloads)
HF_TOKEN=your-hf-token-here

<!-- # email settings
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your-user-email-here
SMTP_PASSWORD=your-smtp-password-here # For Gmail, you need to create an App Password and use it here instead of your regular password. -->

ENCRYPTION_MASTER_KEY=your-encryption-master-key

<!-- set the db url by going to neon.tech and creating your own db -->
DATABASE_URL=postgresql+asyncpg://postgres:your_secure_db_password@localhost:5432/pulse_db

JWT_SECRET_KEY=paste_your_new_string_here
